html, body, .section{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#divHome {
    background: red;
}
#div2{
    background: blue;
}
#div3{
    background: green;
}
#div4{
    background: pink;
}
#div5{
    background: yellow;
}